<app-top-navbar></app-top-navbar>

<div class="container col-sm-12">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>

<!-- <div class="container col-sm-12 py-2 mx-0 my-1 px-1">
  <router-outlet></router-outlet>
</div> -->

<!-- <div class="container row col-sm-12">
  <app-rating [numberOfStars]="5" [currentRating]="2.6" (ratingClicked)="onRatingClicked($event)"></app-rating>

  <app-employees-list class="col-sm-12 ml-1 mb-2"></app-employees-list>

  <app-professors-list class="col-sm-8"></app-professors-list>
</div> -->