<h1 class="PageTitle">Application Dashboard</h1>

<div class="row mb-4" *ngIf="dashboardCards">
  <div class="col-sm-6 mb-4" *ngFor="let card of dashboardCards">
    <div class="card shadow text-black bg-light">
      <div class="card-header">{{card.cardHeader}}</div>
      <div class="card-body">
        <h5 class="card-title">{{card.cardTitle}}</h5>
        <p class="card-text">{{card.cardText}}</p>
        <a href="#" [routerLink]="['/books']" class="btn btn-maincolor shadow">
           {{card.buttonText}}
        </a>
      </div>
    </div>
  </div>
</div>


<!--<fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>-->
