<h1 class="PageTitle">Application Dashboard</h1>

<div class="row mb-4">
  <div class="col-sm-6">
    <div class="card shadow text-black bg-light">
      <div class="card-header">Technical Conferences</div>
      <div class="card-body">
        <h5 class="card-title">Conferences</h5>
        <p class="card-text">Detials about different conferences being conducted.</p>
        <a href="#" [routerLink]="['/books']" class="btn btn-maincolor shadow">
          <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon> Conferences
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card shadow text-black bg-light">
      <div class="card-header">Technical Events</div>
      <div class="card-body">
        <h5 class="card-title">Events</h5>
        <p class="card-text">Detials about different events being conducted.</p>
        <a href="/" class="btn btn-maincolor shadow">Coming Soon</a>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-sm-6">
    <div class="card shadow text-black bg-light">
      <div class="card-header">Technical Sessions</div>
      <div class="card-body">
        <h5 class="card-title">Sessions</h5>
        <p class="card-text">Detials about different sessions being conducted.</p>
        <a href="/" class="btn btn-maincolor shadow">Coming Soon</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card shadow text-black bg-light">
      <div class="card-header">Speakers</div>
      <div class="card-body">
        <h5 class="card-title">Speakers</h5>
        <p class="card-text">Detials about different events being conducted.</p>
        <a href="/" class="btn btn-maincolor shadow">Coming Soon</a>
      </div>
    </div>
  </div>
</div>
