<nav class="navbar navbar-expand-md navbar-dark top-navbar-bg-primary p-0">
  <div class="container">
    <a routerLink="/" class="navbar-brand"><i class="fa fa-university"></i> College</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/employees-cards" class="nav-link">Professors (API)</a>
        </li>
        <li class="nav-item">
          <a routerLink="/employees-table" class="nav-link">Professors (gRPC)</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-dark mb-3 top-navbar-bg-primary p-0">
  <div class="container">
    <a href="#" class="navbar-brand">
      <i class="fa fa-university"></i> College
    </a>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a routerLink="/professors" class="nav-link">Professors</a>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a routerLink="/professors" class="nav-link">Professors</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->