/* You can add global styles to this file, and also import other style files */

.sidenav {
  height: inherit;
  width: 15%;
  position: fixed;
  z-index: 1;
  left: 0;
  transition: 0.5s;
}

.top-navbar-color {
  background: rgb(248, 145, 105);
  color: white;
}
#button{
  background: rgb(255, 81, 0);
}
.bg-sidebar {
  /* background: #f8b78b83;
  color: white; */

  background-image: linear-gradient(rgba(228, 36, 36, 0.4), rgba(228, 36, 36, 0.4)), url(https://www.timeshighereducation.com/sites/default/files/accounting.jpg);
}

.PageTitle {
  color: rgb(21, 167, 167);
}

footer {
  background: rgb(248, 145, 105);
  color: white;
  padding: 1px;
  bottom: 0;
  vertical-align: middle;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 40px;
  top: 70px;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
.btn-primary1{
  background-color: black;
}
.float-margintop {
  margin-top: 22px;
}

.labelAndTextbox {
  display: flex;
}
