/* You can add global styles to this file, and also import other style files */

.sidenav {
  height: inherit;
  width: 15%;
  position: fixed;
  z-index: 1;
  left: 0;
  transition: 0.5s;
}

.top-navbar-color {
  background: #4C3E46;
  color: white;
}

.bg-sidebar {
  background:#C0A49F;
  color: white;
}

.PageTitle {
  color: #4C3E46;
}

footer {
  background:  #4C3E46;
  color: white;
  padding: 1px;
  bottom: 0;
  vertical-align: middle;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
  right:40px;
  top: 70Px;
	background-color:#4C3E46;
	color: white;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #C0A49F;
}

.float-margintop{
	margin-top:22px;
}

.labelAndTextbox {
  display: flex;
}

a:hover{
  color: yellow;
}

.btn-maincolor {
	background-color: #4C3E46!important;
	color: white!important;
}

.table-header-dark{
	background-color: #4C3E46!important;
	color: white!important;
}
